.item{
    border: 1px solid rgb(74, 165, 135);
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    text-align: center;
    
}

.button{
    background-color: rgba(20, 42, 210, 0.941);
    border: 1px solid rgb(48, 35, 232);
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;


}
.pic{
    height: 200px;
    width: 200px;
}